footer{
   /* background-color: plum;
    color: rebeccapurple;*/
    background-color: rgba(61, 65, 65, 0.644);
    color: rgb(221, 159, 221);
    text-align: center;
    height: 150px;
    margin: 0;
    padding: 25px;
}
p{
    font-family: 'Varela Round', sans-serif;
    font-size: 3rem;
}